@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.hamburger {
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.4s ease;
}

.hamburger.open {
  transform: rotate(180deg);
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #3c0a5b;
  transition: background-color 0.3s ease, transform 0.6s ease;
}

.dark .hamburger-line {
  background-color: #fff;
}

.hamburger.open .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 8px);
}

.hamburger.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -8.5px);
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-background {
  background-size: 200% 200%;
  animation: gradient-move 15s ease infinite;
}

.neon-button {
  background-color: #7619ac;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px #a04ecf, 0 0 20px #a152cf;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.neon-button:hover {
  box-shadow: 0 0 25px #a879c4, 0 0 30px #a879c4;
  background-color: #9b50c7;
  transition: all ease-in-out;
  transition-duration: 0.5s;
}

/* animasjon bakgrunn Image hovedseksjon darkmode */
@keyframes dark-gradient {
  0% {
    border-color: #099d69;
    box-shadow: 0 0 15px #099d69, 0 0 30px #099d69, 0 0 60px #099d69,
      0 0 50px #099d69;
  }
  25% {
    border-color: #7619ac;
    box-shadow: 0 0 15px #7619ac, 0 0 30px #7619ac, 0 0 60px #7619ac,
      0 0 100px #7619ac;
  }
  50% {
    border-color: #099d69;
    box-shadow: 0 0 15px #099d69, 0 0 30px #099d69, 0 0 60px #099d69,
      0 0 50px #099d69;
  }
  75% {
    border-color: #7619ac;
    box-shadow: 0 0 15px #7619ac, 0 0 30px #7619ac, 0 0 60px #7619ac,
      0 0 100px #7619ac;
  }
  100% {
    border-color: #099d69;
    box-shadow: 0 0 15px #099d69, 0 0 30px #099d69, 0 0 60px #099d69,
      0 0 50px #099d69;
  }
}

/* animasjon bakgrunn Image hovedseksjon lightmode */
@keyframes light-gradient {
  0% {
    border-color: #365314;
    box-shadow: 0 0 15px #365314, 0 0 30px #365314, 0 0 45px #365314,
      0 0 30px #365314;
  }
  25% {
    border-color: #6e6b19;
    box-shadow: 0 0 15px #6e6b19, 0 0 30px #6e6b19, 0 0 45px #6e6b19,
      0 0 30px #6e6b19;
  }
  50% {
    border-color: #365314;
    box-shadow: 0 0 15px #365314, 0 0 30px #365314, 0 0 45px #365314,
      0 0 30px #365314;
  }
  75% {
    border-color: #6e6b19;
    box-shadow: 0 0 15px #6e6b19, 0 0 30px #6e6b19, 0 0 45px #6e6b19,
      0 0 30px #6e6b19;
  }
  100% {
    border-color: #365314;
    box-shadow: 0 0 15px #365314, 0 0 30px #365314, 0 0 45px #365314,
      0 0 30px #365314;
  }
}

.light-gradient {
  animation: light-gradient 8s linear infinite;
  border-width: 2px;
  border-style: hidden;
}

.dark-gradient {
  animation: dark-gradient 8s linear infinite;
  border-width: 2px;
  border-style: hidden;
}

/* For glødetekst*/
.glow-text {
  transition: text-shadow 0.2s ease;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.7);
}

/* Parallax Background Image */
.parallax-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/Images/background.png"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1; /* Ensures the background is behind the content */
}
